<input required type="text" name="name" ng-model="vm.user.name" placeholder="Name" value="">
<input required type="text" name="email" ng-model="vm.user.email" placeholder="Email" value="">
<input required type="text" name="phone" ng-model="vm.user.phone" placeholder="Phone" value="">
<input  required type="text" name="address" ng-model="vm.user.address" placeholder="Address" value="">
<input  required type="text" name="city"  ng-model="vm.user.city" placeholder="City" value="">
<input  required type="text" name="state"  ng-model="vm.user.state" placeholder="State" value="">
<input  required type="text" name="zipcode" ng-model="vm.user.zipcode" placeholder="Zip Code" value="">
<input type="submit" value="save" ngClick="Submit">
