<div ng-controller="UserCtrlEdit as vm">
  <p>This is the partial for view 1.</p>
  <form ng-submit="vm.submit()" name="vm.form">
    <div>
      <p>
        {{ vm.msg }}
      </p>
    </div>
     <div ng-include="'components/_form.html'"></div>
  </form>
</div>
