<div ng-controller="UserCtrlList as vm">
      <table>
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>City</th>
          <th>Phone</th>
          <th>State</th>
          <th>Zipcod</th>
          <th>Actions</th>
        </thead>
        <tr  ng-repeat="item in vm.users">
          <td>
            {{item.name}}
          </td>
          <td>
            {{item.email}}
          </td>
          <td>
            {{item.phone}}
          </td>
          <td>
            {{item.address}}
          </td>
          <td>
            {{item.city}}
          </td>
          <td>
            {{item.phone}}
          </td>
          <td>
            {{item.state}}
          </td>
          <td>
            {{item.zipcode}}
          </td>
          <td>
            <a href="#/edit/{{item.id}}">Editar</a>
            <a href="#/delete/{{item.id}}">Excluir</a>
          </td>
        </tr>
      </table>
</div>
