<div ng-controller="UserCtrlAdd as vm">
  <form ng-submit="vm.submit()" name="vm.form">
    <div>
      <p>
        {{ vm.msg }}
      </p>
    </div>
     <div ng-include="'components/_form.html'"></div>
  </form>
</div>
