<div ng-controller="UserCtrlDelete as vm">

  <div ng-if="!vm.msg">
    <p>Are you sure about it?</p>
  </div>
  <div ng-if="!vm.msg">
    <a href="" ng-click="vm.delete()">Yes</a>
    <a href="#/list">No</a>
  </div>
  {{vm.msg}}
</div>
